.model-info-chat {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background-color: var(--neutral-body);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 90%;
    height: 90%;
    background-color: var(--neutral-background-weak);
    border-radius: 8px;
  }
  &__group-chat {
    &--search-people {
      width: 100%;
      padding: 8px;
      border: 1px solid var(--neutral-border);
      border-radius: 4px;
      margin-bottom: 10px;
      font-size: 1rem;
      color: var(--neutral-line);
      background-color: var(--neutral-background);
      &::placeholder {
        color: var(--neutral-weak);
      }
      &--header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        &--back-arrow {
          width: 18px;
          height: 18px;
          cursor: pointer;

          &-img {
            width: 100%;
            height: 100%;
          }
        }
      }
      &--body {
        padding-top: 20px;
      }
      &--footer {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 300px;
        &--members-list {
          display: flex;
          overflow-y: auto;
          align-items: flex-start;
          justify-content: flex-start;
          height: 250px;
          flex-direction: column;
          width: 100%;
        }
        &--members-item {
          flex: none;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          margin-bottom: 10px;
          width: 100%;

          &--avatar {
            width: 40px;
            height: 40px;
            border-radius: 20%;
          }
          &--name {
            font-size: 1rem;
            color: var(--neutral-line);
            flex-grow: 1;
          }
          &--add-button {
            flex-shrink: 0;
            padding: 5px 10px;
            font-size: 0.9rem;
            color: var(--neutral-background);
            background-color: var(--brand-color-dark-mode);
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }
        }
      }
    }
    &--header {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
      color: var(--neutral-line);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      &--close {
        &-img {
          width: 18px;
          height: 18px;
          cursor: pointer;
        }
      }
    }

    &--body {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      row-gap: 15px;
      max-height: 180px;
      overflow-y: auto;
      padding-right: 5px;
    }
    &-avatar {
      &-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
    &-name {
      font-size: 1.2rem;
      font-weight: 500;
      color: var(--neutral-line);

      &--members {
        padding-top: 5px;
        font-size: 12px;
        color: var(--neutral-weak);
      }
    }
    &--footer {
      margin-top: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      &--members {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex: 1;
        gap: 8px;
        width: 100%;
      }
      &-title {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--neutral-weak);
        margin-bottom: 5px;
        flex-grow: 1;
      }
      &-icon {
        width: 40px;
        height: 40px;
      }
      &--add-people {
        flex-shrink: 0; // щоб не стискався
        cursor: pointer;
      }
      &--members-list {
        overflow-y: auto;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
        overflow-x: auto;
        width: 100%;
        height: 150px;
      }
      &--member-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        font-size: 0.8rem;
        color: var(--neutral-line);
        margin-top: 2px;
        gap: 10px;
        &--name {
          font-size: 15px;
          max-width: 60px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &--avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
      }
    }
  }
  &__single-chat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--header {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
      color: var(--neutral-line);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      &--close {
        &-img {
          width: 18px;
          height: 18px;
          cursor: pointer;
        }
      }
    }
    &--body {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
    &-avatar {
      &-img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
    }
    &-name {
      font-size: 1.2rem;
      font-weight: 500;
      color: var(--neutral-line);
    }

    &--footer {
      margin-top: auto;
      width: 100%;
    }
    &--mobile {
      display: flex;
      align-items: center;

      gap: 12px;
      font-size: 1rem;
      color: var(--neutral-line);
      margin-bottom: 0.5rem;

      &--icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;

        &-img {
          width: 100%;
          height: 100%;
        }
      }
      &--info {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        &--label {
          font-size: 0.7rem;
          color: var(--neutral-weak);
        }
      }
    }
    &--username {
      padding-top: 20px;

      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
      &--icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;

        &-img {
          width: 100%;
          height: 100%;
        }
      }
      &--info {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        font-size: 1rem;
        color: var(--brand-color-dark-mode);

        &--label {
          font-size: 0.7rem;
          color: var(--neutral-weak);
        }
      }
    }
  }
}
.separator {
  width: 100%;

  border-top: 1px solid var(--neutral-border);
  margin: 10px 0;
}
.modal-blur-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 500;
}
