.account {
  padding-block: 10px;
  padding-inline: 10px;
  &__header {
    display: flex;
    flex: 1;
  }
  &__main {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
