@charset "UTF-8";
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 16px;
  padding-top: 20px;
  position: relative;
}
.header__text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 167%;
  color: var(--neutral-off-white);
}
.header .contact-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
  width: 80%;
  overflow-y: auto;
}
.header .contact-item__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.header .contact-item__block-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  flex-shrink: 0;
}
.header .contact-item__block-name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 167%;
  color: var(--neutral-off-white);
  flex-grow: 1;
  padding-left: 20px;
}
.header .contact-item__block-add {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 28px;
  line-height: 167%;
  color: var(--neutral-off-white);
  cursor: pointer;
  flex-shrink: 0;
}
.header .contact-item__block-add:hover {
  opacity: 0.8;
}

.modal-window {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 15%;
  background-color: var(--neutral-body);
  width: min(1000px, 90vw);
  max-width: 1000px;
  height: min(600px, 90vw);
  max-height: 700px;
  border-radius: 10px;
  box-sizing: border-box;
}
.modal-window__switcher {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.modal-window__switcher-buttons {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 50px;
       column-gap: 50px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  flex-shrink: 0;
}
.modal-window__switcher-contacts {
  background-color: var(--brand-color-background);
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.modal-window__switcher-contacts:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}
.modal-window__switcher-groups {
  background-color: var(--brand-color-background);
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.modal-window__switcher-groups:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}
.modal-window__search {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-window__img {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 90%;
}
.modal-window__img-src {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.modal-window__input {
  border-radius: 4px;
  padding: 6px 8px;
  width: 80%;
  max-width: 800px;
  height: 36px;
  background: var(--neutral-dark);
  margin-top: 20px;
  border: none;
  color: var(--brand-color-background);
}
.modal-window__input::-moz-placeholder {
  color: var(--neutral-disabled);
}
.modal-window__input::placeholder {
  color: var(--neutral-disabled);
}
.modal-window__input:focus {
  outline: 2px solid var(--brand-color-background);
}
.modal-window__groups {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100% - 80px);
}
.modal-window__groups-creating-groups {
  height: 100%;
}
.modal-window__groups-create {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.modal-window__groups-create-button {
  background-color: var(--brand-color-background);
  padding: 10px;
  border: none;
  border-radius: 20px;
}

.creating-groups {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.creating-groups__cross {
  display: flex;
  justify-content: end;
  color: var(--brand-color-background);
}
.creating-groups__cross-style {
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 40px;
}
.creating-groups__mainBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.creating-groups__mainBlock-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px; /* Застосовуємо gap тут */
}
.creating-groups__mainBlock-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.creating-groups__mainBlock-avatar-img {
  background: var(--neutral-dark);
  border-radius: 50px;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  position: relative;
}
.creating-groups__mainBlock-avatar-img-svg {
  position: absolute;
  top: 25%;
  left: 25%;
}
.creating-groups__mainBlock-avatar-plus {
  position: absolute;
  top: 72%;
  left: 77%;
}
.creating-groups__last-step {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.creating-groups__last-step__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.creating-groups__add-contacts {
  text-align: center;
  background-color: var(--brand-color-background);
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 100px;
}
.creating-groups__search-add-contacts {
  text-align: center;
  background-color: var(--brand-color-background);
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 100px;
}
.creating-groups__blocks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.creating-groups__blocks-frends {
  flex-grow: 1;
  width: 100%;
}
.creating-groups__blocks-button-submit {
  flex-shrink: 0;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  overflow-y: auto;
  max-height: 350px;
}

@media (max-width: 1200px) {
  .modal-window {
    width: 85vw;
    left: 10%;
  }
}
@media (max-width: 768px) {
  .modal-window {
    width: 90vw;
    height: 500px;
    left: 5%;
  }
  .modal-window__input {
    width: calc(100% - 40px);
  }
}
@media (max-width: 480px) {
  .modal-window {
    width: 95vw;
    height: 500px;
    left: 0;
  }
  .modal-window__input {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}
.active-blur {
  background-color: transparent;
  filter: blur(5px);
}

.hidden-element {
  width: 0;
  height: 0;
  visibility: hidden;
}/*# sourceMappingURL=header.css.map */