.more {
  padding-inline: 8px;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main {
  flex-grow: 1;
  padding-top: 30px;
  padding-inline: 16px;
  padding-bottom: 100px;
  overflow-y: auto;
  &__accounts {
    padding-bottom: 40px; // прибрати треба
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex: 1;
    &-icon {
      flex-shrink: 0;
      position: relative;
      border-radius: 50px;
      width: 49px;
      height: 50px;
      background: var(--neutral-dark);
      & svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        fill: var(--neutral-off-white);
      }
      &__avatar {
        width: 49px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &-profile-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 3px;
      padding-left: 10px;
      flex-grow: 1;
      &_name {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 171%;
        color: var(--neutral-off-white);
      }
      &_telephone {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 167%;
        color: var(--neutral-disabled);
      }
    }
    &-more-arrow {
      flex-shrink: 0;
    }
  }

  &__accounts-information {
    padding-left: 10px;
    flex: 1;
    gap: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .information-profile {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      &__text {
        flex-grow: 1;
        margin-left: 10px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 171%;
        color: var(--neutral-off-white);
      }
      &__arrow {
        padding-right: 10px;
      }
    }
    .information-chats {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      &__text {
        flex-grow: 1;
        margin-left: 10px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 171%;
        color: var(--neutral-off-white);
      }
      &__arrow {
        padding-right: 10px;
      }
    }
  }
  &__settings {
    padding-left: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 20px;
    &-appereance {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      &-text {
        padding-left: 10px;
        flex-grow: 1;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 171%;
        color: var(--neutral-off-white);
      }
      &-icon {
        flex-shrink: 0;
      }
      &-arrow {
        padding-right: 3px;
      }
    }
    &-notification {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &-text {
        padding-left: 10px;
        flex-grow: 1;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 171%;
        color: var(--neutral-off-white);
      }
      &-arrow {
        padding-right: 3px;
      }
    }
    &-privacy {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      &-icon {
      }
      &-text {
        padding-left: 15px;
        flex-grow: 1;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 171%;
        color: var(--neutral-off-white);
      }
      &-arrow {
        padding-right: 3px;
      }
    }
    &-data-usage {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &-text {
        padding-left: 10px;
        flex-grow: 1;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 171%;
        color: var(--neutral-off-white);
      }
      &-arrow {
        padding-right: 3px;
      }
    }
    &-help {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      &-arrow {
        padding-right: 3px;
      }
      &-text {
        padding-left: 10px;
        flex-grow: 1;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 171%;
        color: var(--neutral-off-white);
      }
    }
    &-invite-your-friends {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      &-arrow {
        padding-right: 3px;
      }
      &-text {
        flex-grow: 1;
        padding-left: 10px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 171%;
        color: var(--neutral-off-white);
      }
    }
  }
}
