.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-inline: 16px;
  &__contats {
    cursor: pointer;
  }
  &__chats {
    cursor: pointer;
  }
  &__menu {
    cursor: pointer;
  }
  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__text {
      font-family: var(--second-family);
      font-weight: 600;
      font-size: 14px;
      line-height: 171%;
      color: var(--neutral-off-white);
    }
    &-dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--primary-accent-blue);
      margin-top: 4px;
    }
  }
}
