.registration {
  position: relative;

  min-width: 320px;
  min-height: 100vh;
  background-color: var(--neutral-active);
  background-size: cover; /* фон покриває всю площу */
  background-position: center; /* фон вирівняний по центру */
  background-repeat: no-repeat; /* не повторюється */

  display: flex;
  align-items: center; /* Центруємо по вертикалі */
  justify-content: center; /* Центруємо по горизонталі */

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  &-illustration {
    position: relative;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__text {
      padding-top: 42px;
      width: 380px;
      height: 110px;
      @media (max-width: 760px) {
        width: 280px;
        height: 90px;
      }
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 24px;
      text-align: center;
      color: var(--neutral-off-white);
    }
    &__img-wrapper {
      position: relative;
    }
  }
  &-button {
    display: grid;
    gap: 18px;
    padding-top: 126px;
    &__policy {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 14px;
      line-height: 171%;
      text-align: center;
      color: var(--neutral-off-white);
    }
  }
}
.stepone {
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--neutral-active);
  background-size: cover; /* фон покриває всю площу */
  background-position: center; /* фон вирівняний по центру */
  background-repeat: no-repeat; /* не повторюється */

  display: flex;
  flex-direction: column;
  align-items: center; /* Центруємо по вертикалі */
  justify-content: space-around; /* Центруємо по горизонталі */
  &__login-link {
    margin-top: -70px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: var(--neutral-off-white);
  }
  &__text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: var(--neutral-off-white);
  }
  &__button {
    display: grid;
    gap: 50px;

    &-seperator {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 20px;
      text-align: center;
      color: var(--neutral-off-white);
    }
  }
}
.registrationPagesstepone {
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--neutral-active);
  background-size: cover; /* фон покриває всю площу */
  background-position: center; /* фон вирівняний по центру */
  background-repeat: no-repeat; /* не повторюється */
  display: flex;
  justify-content: center;
  &__backButton {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
  &__block {
    display: flex;
    align-items: center; /* Центруємо по вертикалі */
    justify-content: space-between; /* Центруємо по горизонталі */
    flex-direction: column;
  }
  &__text {
    font-family: var(--font-family);
    width: 295px;
    text-align: center;
    color: var(--neutral-off-white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding-top: 80px;
    &-down {
      font-weight: 400;
      font-size: 14px;
    }
    &-upper {
      font-weight: 700;
      font-size: 24px;
    }
  }
  &__input {
    display: flex;
    align-items: center; /* Центруємо по вертикалі */
    justify-content: center; /* Центруємо по горизонталі */
    flex-direction: row;
  }
  &__button {
    padding-bottom: 50px;
  }
}
.registrationpagessteptwotelephone {
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--neutral-active);
  background-size: cover; /* фон покриває всю площу */
  background-position: center; /* фон вирівняний по центру */
  background-repeat: no-repeat; /* не повторюється */
  display: flex;
  justify-content: center;
  &__backButton {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
  &__mainBlock {
    display: flex;
    align-items: center; /* Центруємо по вертикалі */
    justify-content: space-between; /* Центруємо по горизонталі */
    flex-direction: column;
    &-text {
      font-family: var(--font-family);
      width: 295px;
      text-align: center;
      color: var(--neutral-off-white);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 8px;
      padding-top: 80px;
      &-down {
        font-weight: 400;
        font-size: 14px;
      }
      &-upper {
        font-weight: 700;
        font-size: 24px;
      }
    }
    &-input {
      &-form {
        display: flex;
        flex-direction: row;
        align-items: center; /* Центруємо по вертикалі */
        justify-content: center; /* Центруємо по горизонталі */
        gap: 40px;
      }

      &-dot {
        background-color: var(--neutral-body);
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 32px;
        text-align: center;
        color: var(--neutral-off-white);
      }
    }
    &-button {
      padding-bottom: 50px;
      &-resend {
        border: none;
        background-color: transparent;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 175%;
        text-align: center;
        color: var(--neutral-off-white);
      }
    }
  }
}
.input-transparent {
  background-color: transparent;
  border: none;
}
.registrationpagesaccount {
  padding: 10px;
  &-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__backBlock {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    &-text {
      padding-top: 7px;
      padding-left: 40px;
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 18px;
      line-height: 167%;
      color: var(--neutral-off-white);
    }
    &-button {
      position: absolute;
      top: 10px;
      left: 10px;
      cursor: pointer;
    }
  }
  &__mainBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    &-inputs {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 12px; /* Застосовуємо gap тут */
    }
    &-avatar {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;

      &-img {
        background: var(--neutral-dark);
        border-radius: 50px;
        width: 100px;
        height: 100px;
        object-fit: cover;
        cursor: pointer;
        position: relative;
        &-svg {
          position: absolute;
          top: 25%;
          left: 25%;
        }
      }

      &-plus {
        position: absolute;
        top: 72%;
        left: 77%;
      }
    }
  }
  &__buttonSubmit {
    padding-bottom: 50px;
  }
}
.registration-email {
  padding: 10px;

  &__block {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 300px;
  }

  &__submit-form {
    padding-bottom: 20px;
  }
}
.active-blur {
  background-color: transparent;
  filter: blur(5px);
}
.background-registration {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(12px) saturate(120%);
  -webkit-backdrop-filter: blur(12px) saturate(120%);
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  animation: fadeIn 0.3s ease-out;
  cursor: pointer;
  opacity: 1;
}
.img-animation-chats {
  &__background-first {
    position: absolute;
    top: 16.4%;
    left: 36%;
    width: 40px;
    border-radius: 25px;
    height: auto;
    background-color: var(--brand-color-default);
    height: 20px;

    &-dot-one {
      position: absolute;
      top: 5px;
      left: 6px;
      width: 6px;
      height: 6px;
      background-color: var(--neutral-off-white);
      border-radius: 50%;
      animation: moveDotFirst 2s infinite;
    }
    &-dot-two {
      position: absolute;
      top: 5px;
      left: 18px;
      width: 6px;
      height: 6px;
      background-color: var(--neutral-off-white);
      border-radius: 50%;
      animation: moveDotSecond 2s infinite;
    }
    &-dot-three {
      position: absolute;
      top: 5px;
      left: 30px;
      transform: translateX(-50%);
      width: 6px;
      height: 6px;
      background-color: var(--neutral-off-white);
      border-radius: 50%;
      animation: moveDotThird 2s infinite;
    }
    @keyframes moveDotFirst {
      0%,
      100% {
        transform: translate(0, 0);
      }
      50% {
        transform: translate(2px, -1px);
      }
    }
    @keyframes moveDotSecond {
      0%,
      100% {
        transform: translate(0, 0);
      }
      50% {
        transform: translate(2px, -1px);
      }
    }
    @keyframes moveDotThird {
      0%,
      100% {
        transform: translate(0, 0);
      }
      50% {
        transform: translate(2px, -1px);
      }
    }
  }
  &__background-two {
    position: absolute;
    top: 0.4%;
    left: 60%;
    width: 40px;
    border-radius: 25px;
    height: auto;
    background-color: var(--brand-color-dark-mode);
    height: 20px;

    &-dot-one {
      position: absolute;
      top: 5px;
      left: 6px;
      width: 6px;
      height: 6px;
      background-color: var(--neutral-off-white);
      border-radius: 50%;
      animation: moveDotFirstNext 2s infinite;
    }
    &-dot-two {
      position: absolute;
      top: 5px;
      left: 18px;
      width: 6px;
      height: 6px;
      background-color: var(--neutral-off-white);
      border-radius: 50%;
      animation: moveDotSecondNext 2s infinite;
    }
    &-dot-three {
      position: absolute;
      top: 5px;
      left: 30px;
      transform: translateX(-50%);
      width: 6px;
      height: 6px;
      background-color: var(--neutral-off-white);
      border-radius: 50%;
      animation: moveDotThirdNext 2s infinite;
    }
    @keyframes moveDotFirstNext {
      0%,
      100% {
        transform: translate(0, 0);
      }
      50% {
        transform: translate(-2px, -1px);
      }
    }
    @keyframes moveDotSecondNext {
      0%,
      100% {
        transform: translate(0, 0);
      }
      50% {
        transform: translate(-2px, -1px);
      }
    }
    @keyframes moveDotThirdNext {
      0%,
      100% {
        transform: translate(0, 0);
      }
      50% {
        transform: translate(-2px, -1px);
      }
    }
  }
}
